[user]
  name = Malcolm Baig
  email = git@baig.org
[core]
  editor = nvim
  excludesfile = ~/.gitignore-global
  attributesfile = /home/malcolm/.gitattributes
  pager = delta --hunk-style=plain --file-color=cyan --file-style=box --plus-color="#012800" --minus-color="#340001" --theme='Nord'
[interactive]
  diffFilter = delta --color-only
[push]
  default = simple
[status]
  displaycommentprefix = true
[pull]
	rebase = false
