[user]
  name = Malcolm Baig
  email = malcolm.baig@gmail.com
[core]
  editor = nvim
  excludesfile = ~/.gitignore-global
[push]
  default = simple
[status]
  displaycommentprefix = true
[color "diff"]
	meta = blue
