##########################
#     Rspec snippets     #
##########################
snippet desc
describe "${1:`substitute(substitute(vim_snippets#Filename(), '_spec$', '', ''), '\(_\|^\)\(.\)', '\u\2', 'g')`}" do
  ${0}
end
endsnippet

snippet descm
describe "${1:#method}" do
  ${0:pending "Not implemented"}
end
endsnippet

snippet cont
context "${1:message}" do
  ${0}
end
endsnippet

snippet it
it "${1:message}" do
  ${0}
end
endsnippet
