# ALIASES
#########

# TEXT EDITORS
alias n='nvim'

# DIRECTORY SHORTCUTS
alias code='cd ~/code'
alias dotfiles='cd ~/Dropbox/dev-env/dotfiles'
alias pnotes='cd ~/Dropbox/notes-personal'
alias wnotes='cd ~/Dropbox/notes-work'
alias dropbox='cd ~/Dropbox/'
alias d='dirs -v'

# GIT
# copy branch
alias gcb="git symbolic-ref --short -q HEAD | tr -d '\n' | pbcopy"
# wip
alias gwip='git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit -m "--wip--"'
alias gunwip='git log -n 1 | grep -q -c "\-\-wip\-\-" && git reset HEAD~1'
# gitup
alias gu="gitup open "
# rebase current branch on latest master
alias grom='git checkout master && git pull && git checkout - && git rebase master'
# standard commands
alias g='git'
alias gst='git status'
alias gco='git checkout'
alias ga='git add'
alias gl='git log'
alias gb='git branch'
alias gc='git commit --verbose'
alias gcm='git commit --verbose -m'
alias gcf='git commit --amend'
alias gcF='git commit --amend --reuse-message HEAD'
alias gf='git fetch'
alias gs='git stash'
alias gd='git diff'
alias gD='git diff --cached'
alias gp='git pull'
# rebase (r)
alias gr='git rebase'
alias gra='git rebase --abort'
alias grc='git rebase --continue'
alias gri='git rebase --interactive'
alias grs='git rebase --skip'

# TMUX
alias t='tmux'
alias tl='tmux ls'
alias tn='tmux new -s '
alias ta='tmux a -t '
alias tk='tmux kill-session -t '
alias mux='tmuxinator'

# RUBY/RAILS
alias be='bundle exec'
alias bs='bin/spring'
alias cuke='cucumber -f progress'

# CLI
alias ls='ls -FGfho'
alias lsp='CLICOLOR_FORCE=1 ls -FGfho | less -R' # ls with paging
alias lsd='ls -d */' # ls directories only
alias psg='ps aux | grep '
alias tailn='tail -n'
alias tailf='tail -f'
alias k9='kill -9'
alias show256colors='for code in {000..255}; do print -P -- "$code: %F{$code}Test%f"; done'
alias del="rmtrash"
alias wttr="curl -4 http://wttr\.in/london"
alias ia="open $1 -a /Applications/iA\ Writer.app"
if [ -x "$(command -v brew)" ]; then
  alias ctags="`brew --prefix`/bin/ctags"
fi
alias focus='open focus://toggle'

# CLIENT-SPECIFIC - CARWOW
alias cwp='cd ~/code/carwow/projects/carwow'
alias cwdb='cd ~/code/carwow/vagrant_devbox && vagrant ssh'
