# ALIASES
#########

# TEXT EDITORS
alias m='nvim'

# DIRECTORY SHORTCUTS
alias code='cd ~/code'
alias dots='cd ~/dotfiles'
alias db='cd ~/Dropbox/'

# GIT

alias g='git'
alias gcl='git clean'
alias gco='git checkout'
alias gD='git diff --cached'
alias gd='git diff'
alias gP='git push'
alias gp='git pull'
alias ga='git add'
alias gb='git branch'
alias gc='git commit --verbose'
alias gcA='git commit --amend --reuse-message HEAD'
alias gca='git commit --amend'
alias gcm='git commit --verbose -m'
alias gf='git fetch'
alias gl='git log'
alias gro='git restore'
alias gsh='git show'
alias gss='git stash'
alias gst='git status'
alias gsw='git switch'

# output branch
gbc() {
  echo $(git symbolic-ref --short -q HEAD | tr -d '\n') | xsel --clipboard
}

# wip
alias gwip='git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit -m "--wip--"'
alias gunwip='git log -n 1 | grep -q -c "\-\-wip\-\-" && git reset HEAD~1'

# rebase (r)
alias gr='git rebase'
alias gra='git rebase --abort'
alias grc='git rebase --continue'
alias gri='git rebase --interactive'
alias grs='git rebase --skip'
alias grm='gsw main && gp && gsw - && gri main'

# TIG
alias ts='tig status'

# TMUX
alias t='tmux'
alias tl='tmux ls'
alias tn='tmux new -s '
alias ta='tmux a -t '
alias tk='tmux kill-session -t '
alias tL='tmuxp load "$(tmuxp ls | fzf)"'

# RUBY/RAILS
alias be='bundle exec'
alias prspec='bundle exec parallel_rspec'

# CLI
alias d='dirs -v'
alias k9='kill -9'
alias ls='ls -AFGhl --color --time-style=long-iso --group-directories-first'
alias lsp='ls | less'
alias psg='ps -ef --forest | grep '
alias sc='systemctl'
alias show256colors='for code in {000..255}; do print -P -- "$code: %F{$code}Test%f"; done'
alias sudo='sudo '
alias tailf='tail -f'
alias tailn='tail -n'
alias wttr="curl -4 http://wttr\.in/london"
alias xargs='xargs '
