# ALIASES
#########

# TEXT EDITORS
alias m='nvim'

# DIRECTORY SHORTCUTS
alias code='cd ~/code'
alias dropbox='cd ~/Dropbox/'

# GIT
# output branch
gcb() {
  echo $(git symbolic-ref --short -q HEAD | tr -d '\n') | xsel --clipboard
}
# wip
alias gwip='git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit -m "--wip--"'
alias gunwip='git log -n 1 | grep -q -c "\-\-wip\-\-" && git reset HEAD~1'
# rebase -i current branch on latest master
alias grim='git checkout master && git pull && git checkout - && git rebase -i master'
# rebase current branch on latest master
alias grom='git checkout master && git pull && git checkout - && git rebase master'
# standard commands
alias g='git'
alias gst='git status'
alias gco='git checkout'
alias ga='git add'
alias gl='git log'
alias gb='git branch'
alias gc='git commit --verbose'
alias gcm='git commit --verbose -m'
alias gcf='git commit --amend'
alias gcF='git commit --amend --reuse-message HEAD'
alias gf='git fetch'
alias gs='git stash'
alias gd='git diff'
alias gD='git diff --cached'
alias gp='git pull'
alias gP='git push'
# rebase (r)
alias gr='git rebase'
alias gra='git rebase --abort'
alias grc='git rebase --continue'
alias gri='git rebase --interactive'
alias grs='git rebase --skip'

# TIG
alias ts='tig status'

# TMUX
alias t='tmux'
alias tl='tmux ls'
alias tn='tmux new -s '
alias ta='tmux a -t '
alias tk='tmux kill-session -t '
alias mux='tmuxinator'

# RUBY/RAILS
alias be='bundle exec'
alias prspec='bundle exec parallel_rspec'

# CLI
alias k9='kill -9'
alias ls='ls -AFGhl --color --time-style=long-iso --group-directories-first'
alias lsp='ls | less'
alias psg='ps aux | grep '
alias sc='systemctl'
alias show256colors='for code in {000..255}; do print -P -- "$code: %F{$code}Test%f"; done'
alias sudo='sudo '
alias tailf='tail -f'
alias tailn='tail -n'
alias wttr="curl -4 http://wttr\.in/london"
alias xargs='xargs '
